body { 
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-image:url('../img/style1-background.png');
}
header {
	background-color: #191C61;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
header #logo {
	display: inline;
	width: 20%;
}
header nav {
	display: inline;
	width: 80%;
} 
header #logo img {
	display: inline;
	vertical-align: middle;
	padding: 0.5em;
}
header #logo span {
	display: inline-block;
	vertical-align: middle;
	font-size: 2em;
	font-weight: bold;
} 
header nav .navbutton {
	color: white;
	position: absolute;
	display: inline;
	text-align: center;
	background-color: #D6B33E;
	width: 8em;
	border-radius: 0.5em;
	padding: 0.25em;
	right: 1.1em;
	margin: 1.1em;
}
header nav a {
	font-weight: bold;
	text-decoration: none;
	font-size: 1em;
}
footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: auto;
	width: 80%;		
}
#registerContent {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
#registerContent h1 {
	font-size: 1.5em;
}
#registerContent form label span {
	margin-bottom: 1em;
	width: 30%;
	display: inline-block;
}
#registerContent form label input {
	margin-bottom: 1.5em;
	padding: 0.25em;
	border-radius: 0.25em;
	border: 1px solid black;
	display: inline-block;
	width: 69%;
}
#registerContent form label select {
	display: inline-block;
	border-radius: 0.25em;
	padding: 0.25em;
	border: 1px solid black;
	width: 69%;
}
#pflichtfelder {
	text-align: center;
}
#submit {
	text-align: right;
	width: 99.7%;
}
#submit #submitButton {
	color: white;
	font-weight: bold;
	font-size: 1em;
	display: inline-block;
	text-align: center;
	width: 10em;
	padding: 0.25em;
	border-radius: 0.25em;
	border: solid green 1px;
	background-color: #05F529;
	background-image: url("../img/white-arrow-right.png");
	background-size: 5%;
	background-position: 92% 50%;
	background-repeat: no-repeat;
}
#submit #submitButton:disabled {
	background-color: #CFCFCF;
}
#tableContent {
	margin-top: 1em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#stats {
	display: inline;
}
.player {
	display: inline-block;
	width: 20%;
}
.player .playerName {
	margin-bottom: 0.25em;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.player .answerIcons {
	text-align: center;
}
.player .answerIcon {
	text-align: center;
	display: inline-block;
	min-width: 20px;
	margin-left: 0.2em;
	margin-right: 0.2em;
}
#player1 {
	float: left;
}
#player2 {
	float: right;
}
#stats span h1 {
	display: inline-block;
	text-align: center;
	width: 58%;
}
#question h2 {
	text-align: center;
	font-weight: normal;
	width: 78%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
}
#question {
	text-align: center;
}
#answers ul {
	text-align: center;
	margin: 0;
	padding: 0;
}
#answers ul li {
	font-size: 1.1em;
}
#answers ul .activeAnswer {
	color: white;
	display: inline-block;
	text-align: center;
	background-color: #191C61;
	width: 48.5%;
	border-radius: 0.75em;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	margin: 0.25em;
}
#answers ul .inactiveAnswer {
	color: #191C61;
	display: inline-block;
	text-align: center;
	background-color: #C5DFED;
	width: 48.5%;
	border-radius: 0.75em;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	margin: 0.25em;
}
#counter {
	margin-top: 1em;
	width: 48.5%;
	margin-left: 0.3em;
	display: inline-block;
}
#counter #remainingTime{
	margin-top: 0em;
	margin-bottom: 0.2em;
}
#counter meter {
	width: 100%
}
#continue {
	float:right;
	margin-top: 1em;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-right: 0px;
}
#continue button {
	margin-right: 0.15em;
	color: white;
	font-weight: bold;
	font-size: 1em;
	display: inline-block;
	text-align: center;
	width: 8em;
	padding: 0.25em;
	border-radius: 0.5em;
	border: solid green 1px;
	background-color: #05F529;
	background-image: url("../img/white-arrow-right.png");
	background-size: 10%;
	background-position: 92% 50%;
	background-repeat: no-repeat;
}
@media (min-width: 48em) and (max-width: 64em) {
	#registerContent {
		width:60%;
	}
}
@media (min-width: 32em) and (max-width: 48em) {
	#registerContent {
		width:80%;
	}
}
@media (max-width: 32em) {
	#registerContent {
		width:100%;
	}
	#tableContent {
		width: 90%;
	}
	header nav .navbutton {
		width: 6em;
	}
	#registerContent form label span {
		width: 30%;
		display: block;
		margin-bottom: 0.2em;
	}
	#registerContent form label input {
		width: 99%;
		display: block;
		border-radius: 0.25em;
	}
	#registerContent form label select {
		display: inline-block;
		border-radius: 0.25em;
		border: 1px solid black;
		width: 99%;
	}
}

