

body { 
	background-image:url('../img/style1-background.png');
}
header {
	background-color: #191C61;
}
header #logo {
	display: table;
}
header #logo img {
	vertical-align: middle;
	display: table-cell;
	padding: 0.5em;
}
header #logo span {
	font-size: 1.5em;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: table-cell;
	vertical-align: middle;
}
header nav {
}
